body {
    text-align: left;
    font-family: sans-serif;
    background-color: lightcyan;
}

table, th, td {
    border: 1px solid purple;
    border-collapse: collapse;
}

th,
td {
    padding-left: 5px;
    padding-right: 5px;
}
