<configuration>
    <appender name="karla" class="ch.qos.logback.core.FileAppender">
        <file>karlutka.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="karla"/>
    </root>
    <logger name="org.eclipse" level="INFO"/>

</configuration>